
/msvc/pango.vsprops
/config.h.win32
/config.h
/pango/pango.rc
/pango/pangocairo.rc
/pango/pangoft2.rc
/pango/pangowin32.rc
/pango/module-defs.h
/pango/module-defs-lang.c
/pango/module-defs-win32.c
/pango/pango-enum-types.c
/pango/pango-enum-types.h
/pango/pango-features.h